.container {
  --mac-icon-size: 36px;

  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  justify-content: center;

  border-color: var(--color-primary);
  border-width: var(--border-width);
  border-style: solid;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
}

.selectOs {
  display: flex;
  padding: 16px;
  align-self: center;
}

.selectOsTitle {
  align-self: center;

  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
  color: var(--color-background-contrastText);
}

.doneButton {
  margin: 0px 8px 8px;

  background-color: var(--color-primary);
  color: var(--color-primary-contrastText);
}

.instructions {
  margin: 16px 16px 0;

  font-family: var(--text-font-family);
  font-size: var(--text-body-size);
  color: var(--color-background-contrastText);
}

.dock {
  display: flex;
  padding: 8px;
  margin: 8px;
  overflow-x: auto;

  background-color: #eeeeeeaa;
  border-radius: var(--border-radius);
}

.dockSpacer {
  flex: 1;
  min-width: 0;
  height: var(--mac-icon-size);
}

.dockSpacerLeftDragHover {
  border-right: var(--border-width) solid var(--color-primary);
}
.dockSpacerRightDragHover {
  border-left: var(--border-width) solid var(--color-primary);
}

.desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  gap: 8px;
  flex: 1;
  overflow-y: auto;
}

.macIcon {
  width: var(--mac-icon-size);
  height: var(--mac-icon-size);
  background-size: cover;
}

.macIconDragHover {
  border-right: var(--border-width) solid var(--color-primary);
}

.macIconImage {
  width: 100%;
  height: 100%;
}
