.container {
  --mac-icon-size: 36px;

  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;

  border-color: var(--color-primary);
  border-width: var(--border-width);
  border-style: solid;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
}

.selectOs {
  display: flex;
  padding: 16px;
}

.doneButton {
  margin: 0px 8px 8px;

  background-color: var(--color-primary);
  color: var(--color-primary-contrastText);
}

.dock {
  display: flex;
  padding: 8px;
  margin: 8px;
  /* justify-content: center; */

  background-color: #eeeeeeaa;
  border-radius: var(--border-radius);
}

.dockSpacer {
  flex: 1;
  min-width: 0;
  height: var(--mac-icon-size);
}

.desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  gap: 8px;
  flex: 1;
  overflow-y: auto;
}

.macIcon {
  width: var(--mac-icon-size);
  height: var(--mac-icon-size);
  background-size: cover;
}

.macIconImage {
  width: 100%;
  height: 100%;
}
