.topBar {
  width: 100%;
  display: flex;
  padding: 16px 24px;
  align-items: center;

  background-color: var(--color-primary);
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
  color: var(--color-primary-contrastText);

  cursor: pointer;
}

.buttons {
  margin-left: auto;
  display: flex;
  gap: 16px;
  align-items: center;
}

.button {
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrastText);
}

.userContainer {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}

.userLabelContainer {
  font-family: var(--text-font-family);
  font-size: var(--text-h2-size);
  color: var(--color-primary-contrastText);
}

.userLabel {
  font-style: italic;
}

.myPostsLink {
  font-family: var(--text-font-family);
  font-size: var(--text-label-size);
}
